/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Roboto", sans-serif;
}

body {
    background-color: #f5f5f5;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    /* flex-wrap: wrap; */

}

.left {
    display: flex;
    align-items: center;
}

.left .email {
    margin-bottom: 5px;
}

.left a:hover{
    text-decoration: underline;
}

.contact {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0px 15px;
}

.contact i{
    padding-right: 4px;
}

.contact a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.email i{
    padding-right: 4px;
}

.email a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}


.contact .phone::after {
    content: ", ";
}

.contact .phone:last-child::after {
    content: "";
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right .register {
    display: flex;
    margin-left: 10px;
    padding: 7px 16px; 
    border: none;
    background-color: rgb(113, 89, 14);
    color: white;
    box-shadow: 0 5px 0 rgb(44, 35, 10);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all .1s linear;
    animation: colorAnimation 0.5s infinite alternate ease-in-out 0s forwards running;
}

@keyframes colorAnimation {
    from{
        background-color: rgb(113, 89, 14);
        text-decoration: none;
    }
    to{
        background-color: rgb(174, 132, 63);
        text-decoration: underline;
    }
}

.right .register:active {
  box-shadow: 0 2px 0 rgb(44, 35, 10);
  transform: translateY(3px);
}

button i{
    padding-left: 5px;
}

.right .donate {
    display: flex;
    margin-left: 10px;
    padding: 7px 15px;
    border: none;
    background-color: rgb(5, 57, 57);
    color: white;
    box-shadow: 0 5px 0 rgb(3, 33, 33);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all .1s linear;
    animation: colorAnimation2 0.5s infinite alternate ease-in-out 0s forwards running;
} 

@keyframes colorAnimation2 {
    from{
        background-color: rgb(5, 57, 57);
    }
    to{
        background-color: rgb(6, 66, 88);
    }
}


.right .donate {
    display: inline-block;
} 

.right .donate:active {
  box-shadow: 0 2px 0 rgb(3, 33, 33);
  transform: translateY(3px);
}

/*Responsive styles */
@media (max-width: 768px) {
    .topbar {
        flex-direction: row;
        align-items: stretch;
    }

    .left .email {
        display: none;
    }

    .left {
        width: 57%;
    }
   .contact {
        margin-left: -5px;
        /* flex-direction: column; */
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    #no2{
        margin-left: 10px;
    }

    /* .contact .phone::after {
        content: ""; 
    } */

    .right {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: auto;
    }  


    .right .register {
        padding: 7px 7px;
    }

    .right .donate {
        display: none;
    }
}



.navbar {
  background-color: #ffffff;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 70px;
  height: 70px;
  margin: 0px 10px 0px -5px;
}

.club-name h1 {
  font-size: 30px;
  margin: 0;
  color: rgb(101, 39, 6);
}

.club-name p {
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  color:black;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.05rem;
  /* text-decoration: underline; */
}

.nav-links a:hover {
  background-color: #e5dbdb;
  text-decoration: none;
  color: rgb(107, 57, 7);
  border-radius: 4px;
}

a i{
  font-size: 0.9rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  min-width: 180px;
  z-index: 1000;
  flex-direction: column;
  list-style-type: none; 
}

.dropdown-menu li a {
  padding: 10px;
  display: block;
  text-decoration: none;
}

.dropdown.active .dropdown-menu {
  display: flex;
}

.toggle-btn {
  display: none;
  font-size: 1.4rem;
  cursor: pointer;
  color: black;
  border: 1px solid gray;
  padding: 2px 8px 0 8px;
  border-radius: 3px;
}

@media (max-width: 878px) {
  .toggle-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    background-color:rgb(240, 237, 237);
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .dropdown-menu {
    position: static;
  }

  .nav-links li {
    width: 100%;
  }
}


/* Contact Section Styles */
.contact-section {
  position: relative;
  width: 100%;
  height: 35vh; 
  background: linear-gradient(rgba(26, 52, 23, 0.7)), url("logo&img/international BG image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 40px;
}

/* Inner content */
.contact-content {
  color: rgb(255, 249, 249);
}

/* Heading */
.contact-content h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

/* Links container */
.contact-links {
  display: flex;
  gap: 20px;
}

/* Individual Links */
.contact-links a {
  color: rgb(253, 252, 252);
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  font-weight: bold;
}

.contact-links a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  .contact-section {
    height: 30vh;
    padding: 40px;
  }

  .contact-content h1 {
    font-size: 2.2rem;
  }

  .contact-links a {
    font-size: 1rem;
    font-weight: bold;
  }
}

@media (max-width: 480px) {
  .contact-section {
    height: 30vh;
    padding: 40px;
  }

  .contact-content h1 {
    font-size: 2rem;
  }

  .contact-links a {
    font-size: 1rem;
    font-weight: bold;
  }
}



.international-section {
  background-color: #f8f8f8;
  padding: 60px 20px 0px 20px;
  text-align: center;
}

.international-section h3 {
  color: #006400;
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.international-section h1 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #000000;
}

.international-section p {
  font-size: 1rem;
  line-height: 1.7;
  color: #1d1c1c;
  margin: 15px 0;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive Design */
@media (max-width: 992px) {
  .international-section h1 {
    font-size: 1.6rem;
  }

  .international-section h3 {
    font-size: 1.2rem;
  }

  .international-section p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .international-section h1 {
    font-size: 1.4rem;
  }

  .international-section h3 {
    font-size: 1rem;
  }

  .international-section p {
    font-size: 0.95rem;
    text-align: start;
  }
}





.reg-pay-section {
  padding: 60px 20px;
  background-color: #f8f8f8;
  text-align: center;
}

.reg-pay-section h2 {
  font-size: 2rem;
  color: #1c0f05;
  margin-bottom: 30px;
}

.reg-pay-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.reg-box {
  background-color: #b4d5ab;
  border-radius: 10px;
  padding: 20px 20px;
  flex: 1 1 300px;
  max-width: 550px;
  box-shadow: 0 4px 12px rgba(28, 26, 26, 0.1);
}

.reg-box h3 {
  font-size: 1.7rem;
  color: #461f02;
  margin-bottom: 15px;
}

.reg-box p {
  font-size: 1.05rem;
  color: #461f02;
  margin: 8px 0;
  line-height: 1.6;
  text-align: justify;
  font-weight: 500;
  padding: 0 0.7rem;
}

.reg-box button {
  margin-top: 1.5rem;
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #004d00;
  color: #fff;
  transition: background-color 0.3s ease;
}

.reg-box button:hover {
  background-color: #05303a;
}

/* Responsive Design */
@media (max-width: 768px) {
  .reg-pay-section h2 {
    font-size: 1.7rem;
  }

  .reg-box h3 {
    font-size: 1.5rem;
  }

  .reg-box p {
    font-size: 1rem;
  }

  .reg-box button {
    font-size: 0.95rem;
    padding: 10px 20px;
  }

   .reg-pay-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .reg-pay-container {
    flex-direction: column;
    align-items: center;
  }

  .reg-box {
    width: 100%;
    max-width: 90%;
  }

  .reg-box button {
    width: 100%;
  }
}





.info-section {
  padding: 40px 20px;
  background-color: #f8f8f8;
  text-align: center;
}

.info-section h2 {
  font-size: 2.2rem;
  color: #371d03; /* dark green */
  margin-bottom: 30px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info-para {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 25px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #080808;
}

@media (max-width: 768px) {
  .info-section h2 {
    font-size: 2rem;
  }

  .info-para {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: start;
  }
}

@media (max-width: 480px) {
  .info-section h2 {
    font-size: 1.5rem;
  }

  .info-para {
    font-size: 0.95rem;
    margin-bottom: 18px;
    text-align: start;
  }
}




/* Scrolling Image Section Styles */
.scrolling-image-section {
  padding: 0px 150px;
  overflow: hidden;
  background-color: #f8f8f8;
  position: relative;
}

.image-track {
  display: flex;
  gap: 30px;
  width: max-content;
}

.image-wrapper {
  display: flex;
  gap: 30px;
}

.image-wrapper img {
  width: 220px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.two img{
  display: none;
}

@keyframes scrollLeftToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1268px) {
  .scrolling-image-section {
    padding: 20px;
  }

  .image-track {
    animation: scrollLeftToRight 25s linear infinite;
  }

  .two img{
    display: block;
  }

  .image-wrapper img {
    width: 200px;
    height: 200px;
  }
}




.five-para-section {
  padding: 80px 20px;
  background-color: #f8f8f8;
  text-align: center;
}

.main-heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  color: #371d03;
  margin-bottom: 40px;
}

.para-block {
  margin-bottom: 30px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.sub-heading {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  color: #000000;
  margin-bottom: 5px;
  text-align: center;
}

.para-block p {
  font-size: 1rem;
  line-height: 1.5;
  color: #222121;
  text-align: start;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-heading {
    font-size: 1.5rem;
  }

  .sub-heading {
    font-size: 1.1rem;
  }

  .para-block p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .main-heading {
    font-size: 1rem;
  }

  .sub-heading {
    font-size: 1rem;
  }

  .para-block p {
    font-size: 0.95rem;
  }
}



.timetable-section {
  padding: 20px 20px;
  background-color: #f8f8f8;
  max-width: 90%;
  margin: auto;
}

.timetable-heading {
  font-size: 2.1rem;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #371d03;
}

.second-dropdown {
  border: 1px solid #ccc;
  margin-bottom: 7px;
  border-radius: 3px;
  background-color: white;
  overflow: hidden;
}

.second-dropdown-header {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3f1dd;
  font-weight: bold;
  transition: background 0.3s;
}

.second-dropdown-header:hover {
  background-color: #69937a;
}

.second-dropdown .icon {
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.second-dropdown-content {
  list-style: none;
  margin: 0;
  padding: 0 20px 15px 20px;
  display: none;
}

.second-dropdown-content li {
  padding: 8px 0;
  font-size: 1rem;
  line-height: 1.5;
}

/* active state */
.second-dropdown.active .second-dropdown-content {
  display: block;
}

.second-dropdown.active .icon {
  transform: rotate(180deg);
}

.timetable-section p{
  font-size: 1rem;
  line-height: 1.6;
  color: #222121;
  margin-bottom: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.timetable-section h4 {
  text-align: center;
  color: #056a05;
  padding: 5px 0;
  font-size: 1.2rem;
}

/* Responsive */
@media (max-width: 768px) {
  .timetable-heading {
    font-size: 1.6rem;
  }

  .second-dropdown-header {
    font-size: 1rem;
  }

  .second-dropdown-content li {
    font-size: 0.95rem;
  }

  .timetable-section h4 {
  font-size: 1rem;
}
}

@media (max-width: 480px) {
  .timetable-heading {
    font-size: 1.4rem;
  }

  .second-dropdown-header {
    font-size: 0.8rem;
  }

  .second-dropdown-content li {
    font-size: 0.8rem;
  }

  .timetable-section h4 {
    font-size: 0.9rem;
  }
}




/* footer section */
.footer-section {
    background-color: rgba(6, 43, 51, 0.975);
    color: white;
    padding: 40px 20px;
    margin-top: 40px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex: 1 1 22%;
    min-width: 230px;
  }
  
  .footer-logo-section {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .footer-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .footer-name h3 {
    font-size: 22px;
    margin: 0;
    color: rgb(209, 128, 15);
  }
  
  .footer-name p {
    font-size: 10px;
    margin: 0;
  }
  
  .footer-subheading {
    margin-top: 10px;
    font-size: 27px;
    font-weight: bold;
    max-width: fit-content;
  }
  
  .footer-heading {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column li {
    margin: 5px 0;
    font-size: 17px;
  }
  
  .footer-column li i {
    padding: 5px;
  }
  
  .footer-column a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .footer-column a:hover {
    color:rgb(154, 80, 27);
  }
  
  
  
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid rgba(236, 232, 232, 0.766);
    padding-top: 10px;
  }
  
  .footer-copy {
    margin: 0;
    font-size: 14px;
    /* text-decoration: overline; */
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-column {
      width: 100%;
      max-width: 400px;
      text-align: center;
      margin: 10px;
    }
  
    .footer-logo-section {
      justify-content: center;
    }
  
    .footer-subheading {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  
  
  /* Basic styles for both buttons */
  #registerNowBtn, #scrollUpBtn {
    position: fixed;
    z-index: 999;
    background-color: rgb(122, 97, 22);
    color: white;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.4s ease;
  }
  
  /* Register Now Button Specific Styles */
  #registerNowBtn {
    top: 50%;
    right: -43px;
    rotate: 90deg;
    transform-origin: center;
    transition: all .1s linear;
    animation: colorAnimation 0.5s infinite alternate ease-in-out 0s forwards running;
  }
  
  
  
  @keyframes colorAnimation {
  from{
      background-color: rgb(122, 97, 22);
      text-decoration: none;
  }
  to{
      background-color: rgb(160, 115, 23);
      text-decoration: underline;
  }
  }
  
  #registerNowBtn:active {
  box-shadow: 0 2px 0 rgb(102, 78, 14);
  transform: translatex(3px);
  }
  
  
  
  /* Scroll Up Button Specific Styles */
  #scrollUpBtn {
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 10px 14px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    #registerNowBtn {
      font-size: 14px;
      padding: 10px 14px;
      right: -40px;
    }
  
    #scrollUpBtn {
      font-size: 18px;
      padding: 8px 12px;
    }
  }
