

.navbar {
  background-color: #ffffff;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 70px;
  height: 70px;
  margin: 0px 10px 0px -5px;
}

.club-name h1 {
  font-size: 30px;
  margin: 0;
  color: rgb(101, 39, 6);
}

.club-name p {
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  color:black;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.05rem;
}

.nav-links a:hover {
  background-color: #e5dbdb;
  text-decoration: underline;
  color: rgb(107, 57, 7);
  border-radius: 4px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(223, 215, 215, 0.388);
  min-width: 150px;
  z-index: 1000;
  flex-direction: column;
}

.dropdown-menu li a {
  padding: 10px;
  display: block;
}

.dropdown.active .dropdown-menu {
  display: flex;
}

.menu-toggle {
  display: none;
  font-size: 25px;
  cursor: pointer;
  color: black;
  border: 1px solid gray;
  padding: 3px 10px 0px 10px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 90px;
    left: 0;
    background-color:rgba(223, 215, 215, 0.388);
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .dropdown-menu {
    position: static;
  }

  .nav-links li {
    width: 100%;
  }
}








